<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>redirectPage</param-name>
    <param-value>/Admin/index.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckUrls</param-name>
    <param-value>/Admin/index.jsp,/Admin/error.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>sessionkey</param-name>
    <param-value>usersessionkey</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ArticlesServlet</display-name>
    <servlet-name>ArticlesServlet</servlet-name>
    <servlet-class>cn.edu.swu.Servlet.ArticleServlet.ArticlesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticlesServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.edu.swu.Servlet.UserLoginServlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateColorServlet</display-name>
    <servlet-name>ValidateColorServlet</servlet-name>
    <servlet-class>cn.edu.swu.Servlet.UserLoginServlet.ValidateColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateColorServlet</servlet-name>
    <url-pattern>/ValidateColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestMoreDelete</display-name>
    <servlet-name>TestMoreDelete</servlet-name>
    <servlet-class>Test.TestMoreDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestMoreDelete</servlet-name>
    <url-pattern>/TestMoreDelete</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.edu.swu.Servlet.UserLoginServlet.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/Admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GuestBook</display-name>
    <servlet-name>GuestBook</servlet-name>
    <servlet-class>cn.edu.swu.Servlet.ArticleServlet.GuestBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestBook</servlet-name>
    <url-pattern>/GuestBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExperienceServlet</display-name>
    <servlet-name>ExperienceServlet</servlet-name>
    <servlet-class>cn.edu.swu.Servlet.ArticleServlet.ExperienceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperienceServlet</servlet-name>
    <url-pattern>/ExperienceServlet</url-pattern>
  </servlet-mapping>
</web-app>