<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:utils="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <bean id="student" class="cn.edu.swu.Student">
        <!--
            <property name="name" value="zly"></property>
            <property name="age" value="22"></property>
        -->
        <!--<property name="selectClass" ref="select"></property>-->

        <!--特殊字符<![CDATA[]]>-->
        <!--<constructor-arg>
            <value><![CDATA[zly*&^]]></value>
        </constructor-arg>
        <constructor-arg value="22"></constructor-arg>-->


        <!--ref用于引入外部已声明的bean-->
        <!--<property name="select" ref="select"></property>-->
    </bean>

    <!--自动匹配合适构造器-->
    <bean id="select" class="cn.edu.swu.selectClass">
        <constructor-arg value="i"></constructor-arg>
        <constructor-arg value="love"></constructor-arg>
        <constructor-arg value="you"></constructor-arg>
        <constructor-arg value="!"></constructor-arg>
    </bean>
    
    <!--通过索引值进行匹配-->
    <bean id="select1" class="cn.edu.swu.selectClass">
        <constructor-arg value="i" index="2"></constructor-arg>
        <constructor-arg value="love" index="1"></constructor-arg>
        <constructor-arg value="you" index="0"></constructor-arg>
        <constructor-arg value="!" index="3"></constructor-arg>
    </bean>
    <utils:list id="listbeans">
        <ref bean="select"></ref>
        <ref bean="select1"></ref>
    </utils:list>
    <!--p命名空间
        可用abstract,抽象化该bean，使其无法实例化，只能继承
    -->

    <bean id="stu" class="cn.edu.swu.Student"
    p:name="tomcat" p:age="21"
        />

    <!--继承配置-->
    <!--<bean id="stu1" parent="stu" p:name="local" p:age="22"

     init-method="init"
     destroy-method="destroy">

    </bean>
    <bean class="cn.edu.swu.MyPost"></bean>
    -->
    <!--通过静态方法配置bean-->
    <bean id="car1" class="zly.factorybean.staticFactorybean" factory-method="getcar">
        <constructor-arg value="audi"></constructor-arg>
    </bean>

    <!--通过工厂实例-->
    <bean id="car2" class="zly.factorybean.InstanceCarFactory" ></bean>

    <bean id="car3" factory-bean="car2" factory-method="getcar">
        <constructor-arg value="fox"></constructor-arg>
    </bean>








</beans>
